# from gitignore
__pycache__/
**/__pycache__/
**/*.hdf5
logs/
.env
**/runs/*
dist/
build/
.mypy_cache/
.pytest_cache/
.tox/
.ipynb_checkpoints/
*.egg-info/
_version.py

# docker-specific
.git
.gitignore
.github/
*.md
!README.md
nearnes*.tar
nearnes*.tar.gz
