[submodule "nrp-core"]
	path = nrp-core
	url = https://bitbucket.org/hbpneurorobotics/nrp-core.git
	branch = t3-4-ebrains2
[submodule "motor_cortex"]
	path = motor_cortex
	url = git@github.com:near-nes/motor-cortex-eprop.git
	branch = main
[submodule "pfc-planner"]
	path = pfc-planner
	url = https://github.com/near-nes/pfc-planner
