services:
  nest-server:
    image: simulation:latest
    build:
      context: .
      dockerfile: docker/Dockerfile
      target: dev
      # The entrypoint script handles the runtime matching regardless.
      args:
        # expect there to be either a .env or suitable env vars
        USER_UID: ${UID}
        USER_GID: ${GID}
    volumes:
      # Named volume for the virtual environment persistence
      - nrp_sim_venv:/sim/venv
      # Named volume for persistent simulation data (compiled network, trajectory.txt...)
      - nrp_sim_shared_data:/sim/shared_data
      # Named volume for nest modules (so that user-generated ones are persisted)
      - nrp_nest_module_path:/sim/install/nest/lib/nest/
      # Bind mount the current host directory (.) into /sim/controller
      - .:/sim/controller
    stdin_open: true
    tty: true
    environment:
      TZ: ${TZ:-Europe/Rome}
      VNC_PASSWORD: ${VNC_PASSWORD} # this is not a secret.
      NEST_MODE: "nest-server"
      NEST_SERVER_MODULES: 'import nest; import numpy; import os; import json; import sys'
    ports:
      # Map host port 5901 (localhost only) to container port 5901 (VNC display :1)
      - "127.0.0.1:5901:5901"
      - 9000:9000
    # If you want to run a specific script, use 'docker-compose run simulation python your_script.py'
    command: bash
    working_dir: /sim/controller
    container_name: nrp-nest-simulator

  nrp-core-service:
    image: nrp-pybullet-ubuntu20:latest
    build:
      context: .
      dockerfile: docker/bullet_muscle_sim.Dockerfile
    volumes:
      - ./:/experiment
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ~/.Xauthority:/root/.Xauthority
    command: NRPCoreSim -c /experiment/nrp_simulation_config_nest_docker_compose.json --floglevel debug
    # tty: true
    depends_on:
      - nest-server
    environment:
      DISPLAY: $DISPLAY
    container_name: nrp-core
volumes:
  nrp_sim_venv:
  nrp_sim_shared_data:
  nrp_nest_module_path: